.row rect {
  fill: steelblue;
}

.row.mouseover rect {
  fill: green;
}

.row.clicked rect {
  fill: red;
}

.row text, .axis text {
  font: 10px sans-serif;
}

.axis line, .axis path {
  fill: none;
  stroke: steelblue;
  shape-rendering: crispEdges;
}

text.title {
  font: 14px sans-serif;
  text-anchor: middle;
}
