.row rect.colour1 {
  fill: #C80000;
}

.row rect.colour2 {
  fill: steelblue;
}

.row.mouseover rect {
  stroke: grey;
  stroke-width: 2;
}

.row.clicked rect {
  stroke: black;
  stroke-width: 2;
}

.row text, .axis text {
  font: 10px sans-serif;
}

.axis line, .axis path {
  fill: none;
  stroke: steelblue;
  shape-rendering: crispEdges;
}

text.title {
  font: 14px sans-serif;
  text-anchor: middle;
}
